* {
  margin: 0px;
  padding: 0px;
}

.navigation {
  display: flex;
  font-family: var(--font1);
  /*height: 74px;*/
  justify-content: space-between;
  /*background-color: bisque;*/
  align-items: center;
}
.content {
  height: 100%;/*255px;*/
  display: flex;
  padding-bottom: 34px;
  position: relative;
}
.content::after {
  background-image: url(../img/ib\(2\).jpg);
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.2;
  border-radius: 10px;
}
.home-articles {
  height: 100%;
  margin-top: 23px;
  padding-top: 12px;
  position: relative;
  background-color: rgb(237, 232, 227);
}
.year-box {
  font-size: 21px;
  position: absolute;
  width: 150px;
  height: 200px;
  right: 0px;
  top: 100px;
}
.year-box div {
  margin: 12px 0px;
}

.home-article {
  padding: 20px;
  display: flex;
  justify-self: center;
}
.home-article-content {
  align-self: center;
  padding: 0px 25px;
}
.home-article-content a {
  text-decoration: none;
  color: black;
}
.home-article img {

  border: 2px solid black;
  width: 200px;
  
}

.footer {
  margin-top: 3vh;

  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  flex-direction: column;
}
.footer a {
  color: black;
}
