@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Merriweather:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");
:root {
  --main-bg-color:rgb(255, 136, 0);
  --font1: "Lilita One", cursive;
  --font2: "Merriweather", serif;
}
.center{
  text-align: center;
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
 
.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 100vw;
}

.m-auto {
  margin: auto;
}
.my-2{
  margin-top: 32px;
  margin-bottom: 32px;
}
.btn {
  padding: 3px 5px;
  border: 2px solid black;
  border-radius: 34px;
  font-family: var(--font1);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn::hover {
  color: azure;
  background: var(--main-bg-color);
}
.nav-left {
  font-size: 30px;
  display: flex;
}
.nav-left span{
  font-size: 35px;
  padding-top: 10px;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 20px;
}
.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}
.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}
.nav-left ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
.content-left {
  padding: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font2);
  z-index: 1;
}
.content-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-right img {
  height: 344px;
  border: 2ps solid black;
  border-radius: 25px;
}

.form-input {
  padding: 3px 5px;
  padding-top: 3px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 34px;
  font-family: var(--font1);
}

.form-box input ,textarea{
  width: 44vw;
  padding: 10px 6px;
  margin: 7px 0px;
  border: 2PX solid black;
  border-radius: 23px;
  text-align: center;
  font-family: var(--font2);
}

